@import "tailwindcss";

@config "../../tailwind.config.js";

@theme {
  --color-primary: #4d7bab; /* Azul Principal */
  --color-primary-dark: #3a5d82;
  --color-secondary: #7fabd5; /* Azul Médio */
  --color-accent: #b1dbff; /* Azul Claro */
  --color-background: #f8fafc; /* Branco levemente acinzentado para o fundo */
  --color-white: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-slate-900 antialiased;
    font-family: "Inter", sans-serif;
  }
}
